In [1]:
# import the pandas library and aliansing as pd
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
data = [25,36,3,4,5]
df = pd.DataFrame(data)
print(df)

    0
0  25
1  36
2   3
3   4
4   5

In [5]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)
df2 = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df2)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13
     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [6]:
# Create a DataFrame from Dict of ndarrays/List
data = {'Name':['Tom','Jack','Steve','Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [8]:
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data,index=['first','second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [10]:
df1 = pd.DataFrame(data,index=['first','second'], columns=['a','b'])
print(df1)

        a   b
first   1   2
second  5  10

In [14]:
# Create a DataFrame from Dict of Series
d = {'one':pd.Series([1,2,3,25],index=['a','b','c','d']),'two':pd.Series([1,2,3,4], index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a    1    1
b    2    2
c    3    3
d   25    4

In [16]:
# Add a column mathod1
d = {'one':pd.Series([1,2,3,25],index=['a','b','c','d']),
'two':pd.Series([1,2,3,4], index=['a','b','c','d']),
'three':pd.Series([5,6,8,10],index=['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two  three
a    1    1      5
b    2    2      6
c    3    3      8
d   25    4     10

In [17]:
# adding a column using method2
df['four'] = pd.Series([12,11,0,3], index=['a','b','c','d'])
print(df)

   one  two  three  four
a    1    1      5    12
b    2    2      6    11
c    3    3      8     0
d   25    4     10     3